.body-act{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff9696+0,f44336+100 */
background: #ff9696; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #ff9696 0%, #f44336 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  #ff9696 0%,#f44336 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  #ff9696 0%,#f44336 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9696', endColorstr='#f44336',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
width: 100%;
height: 100%;
position: fixed;
background-image: url(../img/1splash-screen.jpg);
background-position: 50% 50%;
    background-size: cover;
    
}
.body-act-color{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a3a3a3+0,666666+100 */
background: #a3a3a3; /* Old browsers */
background: -moz-linear-gradient(top,  #a3a3a3 0%, #666666 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #a3a3a3 0%,#666666 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #a3a3a3 0%,#666666 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3a3a3', endColorstr='#666666',GradientType=0 ); /* IE6-9 */

width: 100%;
height: 100%;
position: fixed;
overflow: auto;
padding-bottom: 20px;
}
body{
	background: #f4f4f4;
	font-family: 'Open Sans';
}
.logo-cntnr img{
	width: 40%;
	margin-top: 30px;
	}
.form-cntnr{
	padding-left: 20px;
    padding-right: 20px;
	}
div.custom-form > input {
        border-radius: 2px;
    border: 0px solid #fff;
    color: #fff;
    margin-bottom: 20px !important;
    height: 40px;
    font-size: 16px;
    background-color: #4c4c4c !important;
}
.blck-btn{
	 
/* background: #424242; 
background: -moz-linear-gradient(top, #424242 0%, #000000 100%);
background: -webkit-linear-gradient(top, #424242 0%,#000000 100%);
background: linear-gradient(to bottom, #424242 0%,#000000 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#000000',GradientType=0 );
copy; */
background: #33cb98;
    color: #4c4c4c;
    border: 1px solid transparent;
    font-size: 18px;
    /* border-radius: 25px; */
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 30px;
        outline: none;
        width: 100%;
            box-shadow: 0px 1px 2px 0px #4c4c4c;
            height: 55px;
	}
.blck-btn:focus, .blck-btn:hover, .blck-btn:active{
	 background-color: #424242;
    color: #fff;
    border: 1px solid transparent;
    font-size: 18px;
   /*  border-radius: 25px; */
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 30px;
        outline: none;
        height: 55px;
	}
.trans-btn{
	width: 100%;
    background: #525252;
    border: 1px solid #33cb98;
    /* border-radius: 25px; */
    font-size: 16px;
    display: block;
    padding: 16px 20px;
    color: #33cb98;
    outline: none;
    
}
.trans-btn:focus, .trans-btn:active, .trans-btn:hover{
	width: 100%;
    background: none;
    border: 1px solid #424242;
    /* border-radius: 25px; */
    font-size: 16px;
    display: block;
    padding: 16px 20px;
    color: #424242;
        outline: none;
	}
.register-cntnr{
	margin: 15px;
}
.register-cntnr .reg-header{
	color: #fff;
    /* text-decoration: underline; */
    font-size: 16px;
	}
input.width-50{
	width: 49%;
    display: inline-block;
	}
.img-10{
	    width: 10%;
	}
.verttop{
	    margin: 0;
    vertical-align: text-top;
	padding-left: 25px;
	}
.font-16{
	font-size: 16px;
	}
.mr-49{
	    width: 49% !important;
		color: #424242;
	}
.font-15{
	font-size: 15px;
	}
.menu-header{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a3a3a3+0,666666+100 */
background: #a3a3a3; /* Old browsers */
background: -moz-linear-gradient(top,  #a3a3a3 0%, #666666 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #a3a3a3 0%,#666666 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #a3a3a3 0%,#666666 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3a3a3', endColorstr='#666666',GradientType=0 ); /* IE6-9 */
	
	/* background-color: #666; */
    color: #fff;
    height: 50px;
    position: fixed;
    box-shadow: 0px 2px 10px #000;
    width: 100%;
    z-index: 3;
    top: 0;
	}
.menu-trigger{
	display: inline-block;
    font-size: 30px;
    padding-top: 5px;
    position: absolute;
	}
.main-menu{
	width: 206px;
    background-color: #424242;
    position: fixed;
    height: 100%;
    left: -250px;
	color: #fff;
    font-size: 18px;
	    z-index: 999;
	display: none;
	box-shadow: 0px 1px 10px #000;
	overflow: auto;
	}
.main-menu ul{
	padding-left: 0px;
	}
.main-menu > ul > li{
	padding: 12px;
    /* border: 1px solid #fff; */
	}
.main-menu > ul > li > a{
	color: #fff;
	text-decoration: none;
	}
.upper-header{
	background-color: #fff;
	height: 80px;
	padding: 24px 15px;
	color: #666;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: box-shadow .25s;
	position: fixed;
    width: 100%;
    top: 50px;
    z-index: 2;
	}
.apppage-header{
	position: relative;
	font-size: 20px;
	}

.apppage-header i{
	position: absolute;
    left: 0;
    top: 5px;
	font-size: 24px;
	color: #666;
	cursor: pointer !important;
	}
.footer{
	    position: fixed;
    bottom: 0;
    background-color: #424242;
    width: 100%;
    height: 25px;
    text-align: right;
    padding: 4px 10px;
    font-size: 12px;
    color: #fff;
	}
.select-grup select {
   border-radius: 0px;
    border: 0px solid #fff;
    color: #fff;
    margin-bottom: 20px;
    height: 40px;
    font-size: 16px;
    background: #4c4c4c;
}
div.date-cntnr{
	position: relative;
	}
div.date-cntnr i{
	    position: absolute;
    top: 14px;
    right: 10px;
    font-size: 20px;
    color: #fff;
	}
.date-cntnr50{
	position: relative;
	width: 49%;
	display:inline-block;
	}
div.date-cntnr50 i.fa-calendar{
	position: absolute;
    top: 12px;
    right: 5px;
    width: 24px;
    color: #fff;
    font-size: 18px;
	}
.pic-browser{
	height: 100px;
	    width: 100%;
    background-color: #fff !important;
    /* border: 1px dashed #666; */
    text-align: center;
    padding: 10px 5px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: 50% center !important;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0px 3px 10px #ccc;
	}
.pic-browser i {
	font-size: 38px;
	margin-bottom: 5px;
	color: #ccc
	
	}
.pic-browser div{
	font-size: 16px;
	}
.zero-margin{
	margin: 0px !important;
	}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
img.abs-logo{
	width: 18%;
    /*position: absolute;
    right: 10px;
    top: 8px;*/
	}
.orgdetail-header{
	background-color: #fff;
    height: 80px;
    color: #666;
	padding-top: 8px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: box-shadow .25s;
	}
.orgpage-header{
	position: relative;
	font-size: 16px;
	}
.orgpage-header i{
	position: absolute;
    left: 0;
    top: 35%;
	font-size: 24px;
	}
.info-tbl{
	    font-size: initial;
    border: 0px solid #000 !important;
    position: relative;
    background: white;
    box-shadow: 1px 1px 10px #ccc;
	}
.tbl-head{
	background-color: #33cb98;
    color: #fff;
	}
.info-tbl>tbody>tr>td, .info-tbl>tbody>tr>th, .info-tbl>tfoot>tr>td, .info-tbl>tfoot>tr>th, .info-tbl>thead>tr>td, .info-tbl>thead>tr>th{
	border: 0px solid #000;
	}
.info-tbl>tbody>tr>td {
	padding-top: 5px;
	padding-bottom: 2px;
}
.floating-cntnr{
	position: absolute;
    bottom: -26px;
	}
tr.floating-cntnr > td{
	border: 0px !important;
	}
tr.floating-cntnr > td >div{
	border: 1px solid #666;
    border-radius: 50%;
    background-color: #666;
    color: #fff;
    height: 35px;
    width: 35px;
    text-align: center;
    font-size: 22px;
    box-shadow: 0px 3px 8px #ccc;
	}
tr.floating-cntnr > td >div> i{
	vertical-align: text-bottom;
	}
div.zero-form > input {
       border-radius: 0px;
    /* border: 1px solid #000; */
    color: #000;
    background: #e4e4e4;
    
}
.alert-header{
	padding: 10px 15px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #424242;
    color: red;
    font-size: 22px;
}
.real-closed{
	width: 20px;
    height: 20px;
    color: #fff;
    opacity: 1;
}
.alert-footer{
	padding: 10px 15px;
}
.modal-body p{
	font-size: 16px;
	margin: 0;
}
button.alert-btn{
	background-color: #424242;
	color: #fff;
}
#alertmodal{
	top: 10%;
}
.active-li{
	border-left: 5px solid;
    background-color: #5a5a5a;
}
.font-16{
	font-size: 16px;
}
.font-18{
	font-size: 18px;
}
.blck-btn2{
	font-size: 16px;
    border-color: #424242;
}
a.forget-link{
	    float: right;
    /* margin-top: -5px; */
    margin-bottom: 10px;
    color: #fff;
    font-size: 15px;
}
a.login-link{
    color: #fff;
    font-size: 15px;
    margin-bottom: 15px;
}
div.login-form > input {
   border-radius: 0px;
    border: 0px solid #fff;
    color: #fff;
    margin-bottom: 20px !important;
    height: 55px;
    font-size: 17px;
    background-color: rgba(76, 76, 76, 0.71) !important;
}
div.login-form > input:foucs{
	outline: none !important;
	
}
hr.sscpl-hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #fff;
    width: 10%;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #666 inset;
    outline: none;
}
.reglogo-cntnr img {
    width: 25%;
    margin-top: 20px;
}
.relate-div{
	position: relative;
}
.relate-div span.abs{
	position: absolute;
    top: 42px;
    color: red;  
    left: 0;
}
.blckradio{
	color: #ccc;
}
div.custom-form > input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #cecece;
}
div.custom-form > input::-moz-placeholder { /* Firefox 19+ */
  color: #cecece;
}
div.custom-form > input:-ms-input-placeholder { /* IE 10+ */
  color: #cecece;
}
div.custom-form > input:-moz-placeholder { /* Firefox 18- */
  color: #cecece;
}
div.login-form > input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #cecece;
}
div.login-form > input::-moz-placeholder { /* Firefox 19+ */
  color: #cecece;
}
div.login-form > input:-ms-input-placeholder { /* IE 10+ */
  color: #cecece;
}
div.login-form > input:-moz-placeholder { /* Firefox 18- */
  color: #cecece;
}

.form-control:focus {
    border-color: #33cb98 !important; 
    }

.plus-cntnr{
	width: 45px;
    height: 45px;
    background-color: #666;
    color: #fff;
    text-align: center;
    font-size: 1.8em;
    padding: 6px;
    position: absolute;
    right: 20px;
    border-radius: 50%;
    top: 57px;
    box-shadow: 0px 3px 8px #ccc;
}
.plus-cntnr a{
	color: #fff !important;
}
.upper-menu{
	position: absolute;
    right: 0;
    font-size: 26px;
    top: 7px;
}
.upper-menu div{
	display: inline-block;
	width: 38px;
	text-align: center;
}
.upper-menu > div > a.white-link{
	color: #fff;
}
.dash-title{
	font-size: 1.2em;
    margin-top: 5%;
}
.note-cntnr{
	margin-top: 5%;
    border-top: 2px solid;
    padding-top: 3%;
}
.note-title{
	font-size: 18px;
	
}
.come-soon{
	background-color: #6e6e6e;
    border-radius: 5px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
    margin-top: 3%;
}
/* .c100 > span{
	font-size: 0.1em !important;
	line-height: 10em !important;
} */


@media only screen and (max-width: 700px) and (min-width: 320px){
	img.abs-logo {
    width: 12%;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 768px){
	img.abs-logo {
    width: 8%;
    }
}


.loader {
position: fixed;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
z-index: 9999;
display:none;
background: url('../img/sscpl.gif') 50% 50% no-repeat rgba(255, 255,255, 0.8);
}

/* .wrapper {
    font-family:'arial', sans-serif;
}
input.icon::-webkit-input-placeholder {
    font-family:'FontAwesome';
} */

input.pin-input{
    display: inline-block;
    width: 55px;
    text-align: center;
    border-radius: 10px !important;
}
.turncate{
	width: 90px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
/* Base for label styling */
[type="checkbox"]#remember:not(:checked),
[type="checkbox"]#remember:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]#remember:not(:checked) + label.attendance-check,
[type="checkbox"]#remember:checked + label.attendance-check {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]#remember:not(:checked) + label.attendance-check:before,
[type="checkbox"]#remember:checked + label.attendance-check:before {
  content: '';
  position: absolute;
  left:0; 
  top: -12px;
    width: 22px;
    height: 22px;
  border: 1px solid #bbb;
  background: #fff;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]#remember:not(:checked) + label.attendance-check:after,
[type="checkbox"]#remember:checked + label.attendance-check:after {
  content: '✔';
  position: absolute;
  top: -9px;
    left: 3px;
  font-size: 19px;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]#remember:not(:checked) + label.attendance-check:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]#remember:checked + label.attendance-check:after {
  opacity: 1;
  transform: scale(1);
}





[type="checkbox"]#memb:not(:checked),
[type="checkbox"]#memb:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]#memb:not(:checked) + label.attendance-check,
[type="checkbox"]#memb:checked + label.attendance-check {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

[type="checkbox"]#memb:not(:checked) + label.attendance-check:before,
[type="checkbox"]#memb:checked + label.attendance-check:before {
  content: '';
  position: absolute;
  left:0; 
  top: -12px;
    width: 22px;
    height: 22px;
  border: 1px solid #bbb;
  background: #fff;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}

[type="checkbox"]#memb:not(:checked) + label.attendance-check:after,
[type="checkbox"]#memb:checked + label.attendance-check:after {
  content: '✔';
  position: absolute;
  top: -9px;
    left: 3px;
  font-size: 19px;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
}

[type="checkbox"]#memb:not(:checked) + label.attendance-check:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]#memb:checked + label.attendance-check:after {
  opacity: 1;
  transform: scale(1);
}





.log-cntnr-header{
	position: absolute;
    left: 50px;
    top: 10px;
}
.image-body{
	background-image: url(../img/banner-img.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
}
.vertical-mid{
	vertical-align: middle !important;
}
i.edit-btn{
	color: #424242;
    background-color: #e4e4e4;
    padding: 11px;
    border-radius: 4px;
}
span.fromt{
	    position: absolute;
    color: #fff;
    right: 10px;
    top: 50%;
    font-size: 16px;
    margin-top: -10px;
}
.logo-back{
	background-image: url(../img/final-logo-trans-512.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}
#greetings{
  width: 133px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis ;
}
/*----------placeholder color----------*/
form-control  ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required::-webkit-input-placeholder {
color: #F0E68C !important;
}
 
form-control  ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required:-moz-placeholder { /* Firefox 18- */
color: #F0E68C !important;  
}
 
form-control  ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required::-moz-placeholder {  /* Firefox 19+ */
color: #F0E68C !important;  
}
 
form-control  ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required:-ms-input-placeholder {  
color: #F0E68C !important;  
}