
<div class="body-act-color" ng-controller="LoginCtrl">
   	<div class="container logo-cntnr text-center">
       	<img src="resources/img/final-logo.png">
       </div>
       
       
      <form class="container register-cntnr" ng-submit="createPassword()" name="myForm">
	<div class="form-group login-form">
      <label class="col-lg-offset-3 col-lg-3 col-md-offset-3 col-md-3 col-sm-offset-3 col-sm-3 control-label">Password :</label>
      <div class="col-lg-3 col-md-3 col-sm-3">

        <input class="form-control" type="password" id="password" name="password" ng-model="newpassword" ng-minlength="8" ng-maxlength="20" required  />
        
        
       
    </div>
	</div>	
 	<div class="form-group">
      <label class="col-lg-offset-3 col-lg-3 col-md-offset-3 col-md-3 col-sm-offset-3 col-sm-3 control-label">Confirm Password :</label>
      <div class="col-lg-3 col-md-3 col-sm-3">
      
        <input class="form-control" type="password" id="password_c" name="password_c" ng-model="passwordConfirmed" pw-check="password"  required />
   
       <span ng-show='myForm.password_c.$error.pwmatch' class="abs" >Passwords don't match.</span> 
      </div>
	</div>	 	
	<div style="height: 20px;"></div>	
	<div class="form-group center">
	<button class="btn btn-default blck-btn" style="margin-bottom: 10px;width: 100%;" style="margin-bottom: 10px; width: 100%;" id="btnSubmit"  type="submit">Submit</button>
	</div>		
	</form>
       
       
       
       </div>
       





       