
<div class="body-act-color" ng-controller="LoginCtrl">
   	<div class="container logo-cntnr text-center">
       	<img src="resources/img/final-logo.png">
       </div>
       
       <div class="container register-cntnr">
       	<form ng-submit="isEmailnameFound(user.email)">
           <div class="reg-header">
           	Recover Password
           </div>
          
            <div style="height: 10px;"></div>
            
            <div class="form-group login-form">
           	<input type="email" name="email" id="email" class="form-control" placeholder="Enter Email ID" ng-model="user.email"  required>
		
           	</div>
           	
            <div style="height: 20px;"></div>
           <button class="btn btn-default blck-btn" style="margin-bottom: 10px;width: 100%;">Request Password</button>
           <div class="text-center">
           <a class="login-link" href="#/login/" style="width: auto;">Back</a>
           </div>	
          
           </form>
          
       </div>
      
   </div>

