
<div class="body-act-color image-body" ng-controller="LoginCtrl">
   	<div class="container logo-cntnr text-center">
       	<img src="resources/img/final-logo.png" class="animated zoomIn">
       </div>
       <div style="height: 50px;"></div>
       <div class="container text-center form-cntnr">
       	<form ng-submit="loginUser(user, remember)">
           	<div class="form-group login-form animated bounceInUp">
               	<input type="text" class="form-control" placeholder="Username" ng-model="user.userName" required autocomplete="off">
                   
                   <input type="password" class="form-control" placeholder="Password" ng-model="user.password" required autocomplete="off">
                   
                   <!-- <a class="forget-link" href="#/forgot/">Forgot Password?</a> -->
                   <div class="form-group text-left" style="display: inline-block;float: left;">
                   <input type="checkbox" ng-model="remember" id="remember">
                   <label for="remember" class="attendance-check"></label>
                   <label for="remember" style="
    				font-size: 15px; color: #fff;" class="white-label">Remember Me</label>
                    </div>
                    
                 <a class="forget-link" href="#/forgot/">Forgot Password?</a>
                 <div class="clearfix"></div>
                   <button type="submit" class="btn btn-default blck-btn" style="width: 100%;" onclick="return validateFieldsOnFormSubmit()">Login</button>
                 
                	
                    
               
                 <hr class="sscpl-hr">
                 
                <a class="trans-btn" href="#/register/">Create an Account</a>
                 
               </div>
           </form>
       </div>
       
   </div>
