<div ng-controller="MenuCtrl">
<div class="main-menu">
{{menuList[0].menuName}}
    	<ul type="none">
        	<li class="text-center">Menu</li>
        	<!--  <tr ng-repeat="menu in menuList" > 
	             	  
	                    
	                </tr>  --> 
	         <li  class="actual"><a href="#/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        	 <li  class="actual"><a href="#/attendence"><i class="fa fa-hand-paper-o"></i> Attendancee</a></li>
             <li ng-if="userDetails.roleObj.id==1" class="actual"><a href="#/orgdetails"><i class="fa fa-sitemap"></i> {{userDetails.organizationAlias}} List</a></li>
            <li ng-if="userDetails.roleObj.id==1" class="actual"><a href="#/batchlist"><i class="fa fa-plus-square"></i> {{userDetails.batchAlias}} List</a></li>
            <li ng-if="userDetails.roleObj.id==1" class="actual"><a href="#/managerlist"><i class="fa fa-user-secret"></i> Manager List</a></li>
            <li ng-if="userDetails.roleObj.id!=3" class="actual"><a href="#/memberlist"><i class="fa fa-user-plus"></i> Member List</a></li>
            <li ng-if="userDetails.roleObj.id==1" class="actual"><a href="#/assignbatch"><i class="fa fa-random"></i> Assign {{userDetails.batchAlias}}</a></li> 
             <li ng-if="userDetails.roleObj.id==1" class="actual"><a href="#/attenpercentage"><i class="fa fa-file-pdf-o"></i> Report</a></li> 
            <li ng-if="userDetails.roleObj.id==1" class="actual"><a href="#/new"><i class="fa fa-book"></i> Payment Ledger</a></li> 
            <li class="actual"><a href="" ng-click="myProfile()"><i class="fa fa-user"></i> My Profile</a></li> 
        <!--    <li class="actual"><a href="#/assignMemtobatch"><i class="fa fa-share"></i> Assign Member</a></li>  -->
              <li  ng-click="logout()" class="actual"><i class="fa fa-power-off"></i> Logout</li>
            
        </ul>
    </div>
   
	<div class="menu-header container-fluid">
		<div class="log-cntnr-header"> <img src="resources/img/final-logo.png" class="abs-logo img-responsive"></div> 
    	<div class="menu-trigger" id="close"><i class="fa fa-bars"></i></div>
      
        <div class="upper-menu">
        	
        	<div><a class="white-link" href="#/new"><i class="fa fa-bell"></a></i></div>
        	<div><a class="white-link" href="" ng-click="myProfile()"><i class="fa fa-user"></i></a></div>
        	<div><i class="fa fa-power-off" ng-click="logout()"></i></div>
        </div>
        <div style="height: 50px;"></div>
 </div>
</div>
<script>
	var menuflag = 0;

	$(".menu-trigger").click(function() {
		
		if (menuflag == 0) {
			$('.main').css('opacity','0.5');
			$(".main-menu").animate({
				'left' : '0px'
			}, '200').css('display', 'block');
			$(this).animate({
				'left' : '215px'
			}, '200');
			menuflag = 1;
		} else {
			$('.main').css('opacity','1');
			$(".main-menu").animate({
				'left' : '-250px'
			}, {
				'opacity' : '0'
			}, '200');
			$(this).animate({
				'left' : '15px'
			}, '200');
			menuflag = 0;
		}
		
		
	});

</script>

<script>
var menuclose = 0;

	$("#close").click(function(){
		if (menuclose == 0) {
		$(this).html("<i class='fa fa-times'></i>");
		menuclose = 1;
		}
		else {
			$(this).html("<i class='fa fa-bars'></i>");
			menuclose = 0;
		}
	});
	
</script>

<script>
	var menudisable = 0;
	
		$(".main").click(function(){
			if (menudisable == 0){
				$('.main').css('opacity','1');
		$(".main-menu").animate({'left' : '-250px'});
		$("#close").animate({'left' : '15px'}).html("<i class='fa fa-bars'></i>");
		menudisable = 1;
		}
			else{
				
				menudisable = 0;
			}
	});
</script>

<script>
var menuactive = 0;

	$(".main-menu > ul > li.actual").click(function(){
		if (menuactive == 0){
		$(this).addClass("active-li");
		menuactive = 1;
		}
		else{
			$(this).removeClass("active-li");
			menuactive = 0; 
		}
	});
</script>