
<div ng-include="'modules/user/partials/menu.html'"></div>

<div class="body-act-color">

 <div style="height: 70px;"></div>
 
	<div class="container reglogo-cntnr text-center">
       	<img src="resources/img/final-logo.png">
       </div>
	
  <div style="height: 110px;"></div>
  
  <div class="text-center animated bounceInLeft">
  	<img src="resources/img/coming.png">
  	<img src="resources/img/soon.png">
  </div>		
	
	
</div>


