

<!-- <div ng-include="'modules/user/partials/menu.html'"></div> -->
<!-- <div style="height: 50px;"></div> -->

<div class="body-act-color" ng-controller="UserModule_PinCtrl">
<div style="height: 50px;"></div>
	<div class="container reglogo-cntnr text-center">
       	<img src="resources/img/final-logo.png">
       
         <div style="height: 70px;"></div>


<h4 style="color: #fff;" class="cal_ttl_new text-center">Generate PIN</h4>

<div style="height: 20px;"></div>
        <form ng-submit="createPin(user)">
                 <div class="col-xs-10 col-xs-offset-1">
                 <div class="form-group">
                 <div class="text-center login-form">
                <input type="text" class="form-control flat-input pin-input" id="pin1" ng-model="user.pin.first" onkeypress='return event.charCode >= 48 && event.charCode <= 57'  maxlength="1" required>
                <input type="text" class="form-control flat-input pin-input" id="pin2" ng-model="user.pin.second" onkeypress='return event.charCode >= 48 && event.charCode <= 57'  maxlength="1" required>
                <input type="text" class="form-control flat-input pin-input" id="pin3" ng-model="user.pin.third" onkeypress='return event.charCode >= 48 && event.charCode <= 57'  maxlength="1" required>
                <input type="text" class="form-control flat-input pin-input" id="pin4" ng-model="user.pin.fourth" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="1" required>
                </div>
            </div>
              
                </div>
          
             


            <div class="form-group text-center">
              
                <button class="btn btn-default blck-btn">Generate Pin</button>
                <div class="clearfix"></div>
            </div>
            <div style="height: 43px;"></div>
        </form>
        </div>
    </div>
    
    
    <script type="text/javascript">
$('#pin1').keyup(function() {
     if(this.value.length == $(this).attr('maxlength')) {
         $('#pin2').focus();
     }
 });
$('#pin2').keyup(function() {
     if(this.value.length == $(this).attr('maxlength')) {
         $('#pin3').focus();
     }
 });
$('#pin3').keyup(function() {
     if(this.value.length == $(this).attr('maxlength')) {
         $('#pin4').focus();
     }
 });
</script>


<!-- 
<script>
	function ValidatePassKey() {
	    var a = document.getElementById("pin1").value;
	    var b = document.getElementById("pin2").value;
	    var c = document.getElementById("pin3").value;
	    var d = document.getElementById("pin4").value;
	    
	 
}
</script> -->