<!-- <div style="height: 50px;"></div> -->
<div class="body-act-color" ng-controller="UserModule_PinCtrl">
<!-- <div class="container" ng-controller="UserModule_PinCtrl" style="padding-top: 20%;"> -->
<div style="height: 60px;"></div>
	<div class="container reglogo-cntnr text-center">
       	<img src="resources/img/final-logo.png">
       </div>
        <div style="height: 70px;"></div>


<h4 style="color: #fff;" class="cal_ttl_new text-center">Enter PIN</h4>

<div style="height: 20px;"></div>

<div class="container">
<form role="form" ng-submit="checkPin(userpin)">
    
      <!-- <label class="col-xs-4 col-xs-offset-2 control-label" for="sm">Weight(kg)</label> -->
      <div class="col-xs-10 col-xs-offset-1">
       <!--  <input class="form-control" ng-model="pin" type="number" min="0" maxLength="4" id="" onInput="maxLengthCheck(this)" placeholder="Enter PIN" required> -->
      	 <div class="form-group">
             <div class="text-center login-form">
                <input type="text" class="form-control flat-input pin-input" onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-model="userpin.first" id="pin1"  maxlength="1" required>
                <input type="text" class="form-control flat-input pin-input" onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-model="userpin.second" id="pin2" maxlength="1" required>
                <input type="text" class="form-control flat-input pin-input" onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-model="userpin.third" id="pin3"  maxlength="1" required>
                <input type="text" class="form-control flat-input pin-input" onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-model="userpin.fourth" id="pin4" maxlength="1" required>
             </div>
         </div>
      </div>
   
    <div style="height: 20px;"></div>
    
    <div class="form-group">
      <button type="submit" class="btn btn-default blck-btn">Submit PIN</button>
    </div>
  </form>
</div>



</div>






<script>
function maxLengthCheck(object)
{
  if (object.value.length > object.maxLength)
    object.value = object.value.slice(0, object.maxLength)
}
</script>

 <script type="text/javascript">
$('#pin1').keyup(function() {
     if(this.value.length == $(this).attr('maxlength')) {
         $('#pin2').focus();
     }
 });
$('#pin2').keyup(function() {
     if(this.value.length == $(this).attr('maxlength')) {
         $('#pin3').focus();
     }
 });
$('#pin3').keyup(function() {
     if(this.value.length == $(this).attr('maxlength')) {
         $('#pin4').focus();
     }
 });
</script>