
<div class="body-act-color" ng-controller="LoginCtrl">
   	<div class="container logo-cntnr text-center">
       	<img src="resources/img/final-logo.png">
       </div>
       
      <!--  <div class="container register-cntnr">
       	<form ng-submit="forgotPassword(user)">
           <div class="reg-header">
           	Recover Password
           </div>
          
            <div style="height: 10px;"></div>
            
            <div class="form-group login-form">
           	<input type="email" name="email" id="email" class="form-control" placeholder="Enter Email ID" ng-model="user.email" ng-blur="isEmailnameFound(user.email)" required>
		
           	</div>
           	
            <div style="height: 20px;"></div>
           <button class="btn btn-default blck-btn" style="margin-bottom: 10px;width: 100%;">Request Password</button>
           <div class="text-center">
           <a class="login-link" href="#/login/" style="width: auto;">Back</a>
           </div>	
           </div>
           </form> -->
           
           
           
           
    <div ng-show="!authorisedFlag">
	<form class="container register-cntnr" ng-submit="checkotp(otp)">
	<div class="form-group login-form">
      <label class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4 control-label">Enter One Time Password: 
      </label>
	</div>
	<div class="form-group login-form">
				<div
					class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4">
					One Time Password(OTP) has been sent to your mail, please enter it
					here to verify your email.</div>
			</div>
	<div class="form-group login-form">
      <div class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4">
        <input class="form-control" name="opt" id="otp1" type="text" ng-model="otp">
      </div>
	</div>
	
	<div style="height: 20px;"></div>	
	<div class="form-group center">
	<button class="btn btn-default blck-btn" style="margin-bottom: 10px;width: 100%;" style="margin-bottom: 10px; width: 100%;  type="submit" >
					Submit</button>
					<button type="button" class="btn btn-primary launchConfirm" style="margin-bottom: 10px;width: 100%;" style="margin-bottom: 10px; width: 100%;"  ng-click="generateOTP()">
					Resend OTP</button>
	</div>
	</form>
	<div class="clearfix"></div>
	</div>
	
	
	<div class="clearfix"></div>
	
	
          
       </div>
      

