
<style>
    .required:after { content:" *"; }
    
    
</style>
<div class="body-act-color" ng-controller="UserCtrl">
   	<div class="container reglogo-cntnr text-center">
       	<img src="resources/img/final-logo.png">
       </div>
       
       <div class="container register-cntnr">
       	<form ng-submit="registerUser(user)" name="registration" >
           <div class="reg-header">
           	Personal Details
           </div>
           <div style="height: 10px;"></div>
           <div class="personal-detail custom-form">
           	<input type="text" class="form-control width-50 " placeholder="First Name *" ng-model="user.firstName" required>
               <input type="text" class="form-control width-50" placeholder="Last Name *" ng-model="user.lastName" required>
           </div>
           <div class="personal-detail custom-form">
           <div class="date-cntnr50 custom-form">
           	<input type="text" class="form-control" placeholder="DOB *" ng-model="user.DOBString" id="datepicker" readonly='true' >
           <i class="fa fa-calendar icon-Calendar" aria-hidden="true"></i>
           	</div>
               <label class="radio-inline verttop"><input type="radio" name="optradio"  value="Male" ng-model="user.gender" required>
               </label><img src="resources/img/male.png" class="img-10">
               
			<label class="radio-inline verttop"><input type="radio" name="optradio" value="Female" ng-model="user.gender" required>
               </label><img src="resources/img/female.png" class="img-10">
           </div>
           <div class="personal-detail custom-form">
           	<input type="email" class="form-control" placeholder="Enter Email ID *" id="email1" ng-model="user.email" ng-blur="isEmailIdUnique(user.email)" required>
               <input type="number"  id="inputPhone"   name="phone"  class="form-control" placeholder="Enter Phone no." ng-model="user.phoneNo"  
                  numbers-only="numbers-only"
             	minlength="10" maxlength="10" required> <!--  ng-keypress='isaNumber()'  -->
           </div> 
           <div class="personal-detail custom-form">
           	<input type="text" class="form-control" placeholder="Enter Username *" id="username1" ng-model="user.userName" ng-blur="isRegisternameUnique(user.userName)" required>
           </div>
           <div class="personal-detail custom-form relate-div">
           	<input type="password" class="form-control width-50" placeholder="Enter Password *" ng-model="user.password" minlength="8" id="password" required>
               <input type="password" id="password_c" name="password_c" class="form-control width-50" placeholder="Confirm Password *" ng-model="user.passwordConfirmed"  pw-check="password"
                 required>
               <span ng-show='registration.password_c.$error.pwmatch' class="abs">Passwords don't match.</span>
           </div>
           <div style="height: 15px;"></div>
           
           <div class="reg-header">
           	Services
           </div>
           
           <div class="radio blckradio" ng-repeat="service in services" >
			 	<label class="font-16"><input type="radio" name="servicesoptradio" ng-model="service.selected" value="{{service.name}}" required >{{service.name}}</label>
		  </div>
  			<div style="height: 20px;"></div>
           <button class="btn btn-default blck-btn"  onclick="return validateFieldsOnFormSubmit()">Register</button>
           
            <div class="text-center">
            	<a class="login-link" href="#/login/">Back to login</a>
			</div>
			<div style="height:30px"></div>
           </form>
           
          
       </div>
       
       
       
   </div>


<script type="text/javascript">
$( function() {
    $( "#datepicker" ).datepicker({
    	changeYear: 'true',
        changeMonth:'true',
        firstDay: 1,
        dateFormat: 'dd-MM-yy',
        yearRange: '-100:+0',
        maxDate: "+0d",
    });
  } );
$('.icon-Calendar').click(function(){
	$(this).datepicker('show');
});

	function isNumber(evt) {
	    evt = (evt) ? evt : window.event;
	    var charCode = (evt.which) ? evt.which : evt.keyCode;
	    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
	        return false;
	    }
	    return true;
	}
	
	$('#inputPhone').bind("paste",function(e) {
     e.preventDefault();
 });
</script>




