<div class="body-act-color">
<div class="container reglogo-cntnr text-center">
       	<img src="resources/img/final-logo.png">
       </div>
       
       <div class="container register-cntnr">
         <div style="height: 100px;"></div>
        <h1> <center>Please Update</center></h1></br>
        <h4><center>Please update the App to get the Best Experience.</center></h4>
 <a href="https://play.google.com/store/apps/details?id=com.planfirma.sscpl&hl=en"><<button class="btn btn-default blck-btn">Update</button></a>
 </div>
</div>