
<div class="body-act-color" ng-controller="UserAliasCtrl">
   	<div class="container logo-cntnr text-center">
       	<img src="resources/img/final-logo.png">
       </div>
       
       <div class="container register-cntnr">
       	<form ng-submit="addUserAlias(userAlias)">
           <div class="reg-header">
           	Alias
           </div>
          
           <div style="height: 10px;"></div>
           <div class="personal-detail custom-form" ng-repeat="alias in userAlias " >
           	<label class="mr-49 font-15">{{alias.key}}:</label>
               <input type="text" class="form-control width-50" ng-model="alias.value">
           </div>
           
            <div style="height: 20px;"></div>
           <button class="btn btn-default blck-btn" style="margin-bottom: 10px;">Save</button>
           <div class="text-center"><div style="margin-bottom: 10px;color: #fff;">or</div>
           <a class="trans-btn" href="" ng-click="fetchUserAliasWhenSkip()" style="width: auto;">Skip</a>
           </div>
           </form>
          
       </div>
      
   </div>

